* {
  box-sizing: border-box;
}
html {
  font-size: calc(100vw / 7.2);
}
body {
  font-size: 16px;
}
img {
  display: block;
}
p,
h2 {
  margin: 0;
  padding: 0;
}
.bigBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  overflow: hidden;
}
.bigBox .box {
  position: absolute;
  top: 0;
  bottom: -0.03rem;
  left: 0;
  right: 0;
  /* 小圆点 */
}
.bigBox .box .ladder {
  display: none;
  /* 模块二 */
  /* 模块三 */
  /* 模块四 */
  /* 金币 */
  /* 背景图 */
  /* 云 */
}
.bigBox .box .ladder img {
  position: absolute;
}
.bigBox .box .ladder .z01 {
  bottom: -0.61rem;
  left: 2.565rem;
  z-index: 120;
  width: 2rem;
  height: 0.58rem;
}
.bigBox .box .ladder .z02 {
  bottom: -3.156rem;
  left: 2.58rem;
  z-index: 119;
  width: 1rem;
  height: 4.04rem;
}
.bigBox .box .ladder .z03 {
  bottom: -2.875rem;
  left: 2.09rem;
  z-index: 118;
  width: 1rem;
  height: 4.04rem;
}
.bigBox .box .ladder .z04 {
  left: 1.6rem;
  bottom: -3.32rem;
  z-index: 117;
  width: 2rem;
  height: 5.34rem;
}
.bigBox .box .ladder .z05 {
  bottom: 0;
  left: 0;
  z-index: 116;
  width: 7.2rem;
  height: 2.4rem;
}
.bigBox .box .ladder .z06 {
  left: 1.35rem;
  bottom: -0.28rem;
  z-index: 115;
  width: 1.76rem;
  height: 3.02rem;
}
.bigBox .box .ladder .z07 {
  left: 0.16rem;
  bottom: 0.41rem;
  z-index: 114;
  width: 1.76rem;
  height: 3.02rem;
}
.bigBox .box .ladder .z08 {
  bottom: -0.03rem;
  left: 0.877rem;
  z-index: 113;
  width: 1rem;
  height: 4.21rem;
}
.bigBox .box .ladder .z09 {
  bottom: 0.738rem;
  left: 1.38rem;
  z-index: 112;
  width: 1rem;
  height: 3.75rem;
}
.bigBox .box .ladder .z18 {
  left: 2.12rem;
  bottom: 0.65rem;
  z-index: 103;
  width: 1.63rem;
  height: 4.61rem;
}
.bigBox .box .ladder .z19 {
  left: 0.87rem;
  bottom: 1.464rem;
  z-index: 102;
  width: 1.26rem;
  height: 3.45rem;
}
.bigBox .box .ladder .z20 {
  left: 0.55rem;
  bottom: 5.3rem;
  z-index: 101;
  width: 0.68rem;
  height: 0.66rem;
}
.bigBox .box .ladder .z21 {
  left: 0.37rem;
  bottom: 1.88rem;
  z-index: 100;
  width: 1rem;
  height: 3.46rem;
}
.bigBox .box .ladder .z22 {
  left: 4.82rem;
  bottom: 0.167rem;
  z-index: 99;
  width: 1rem;
  height: 4.04rem;
}
.bigBox .box .ladder .z23 {
  left: 4.335rem;
  bottom: 0.45rem;
  z-index: 98;
  width: 1rem;
  height: 4.04rem;
}
.bigBox .box .ladder .z24 {
  left: 3.845rem;
  bottom: 0;
  z-index: 97;
  width: 2rem;
  height: 5.34rem;
}
.bigBox .box .ladder .z25 {
  left: 1.6rem;
  bottom: 1.89rem;
  z-index: 96;
  width: 1.26rem;
  height: 3.45rem;
}
.bigBox .box .ladder .z26 {
  left: 2.335rem;
  bottom: 2.3rem;
  z-index: 95;
  width: 1.26rem;
  height: 3.45rem;
}
.bigBox .box .ladder .z27 {
  left: 3.069rem;
  bottom: 2.73rem;
  z-index: 94;
  width: 1.26rem;
  height: 3.45rem;
}
.bigBox .box .ladder .z28 {
  left: 4.33rem;
  bottom: 4.75rem;
  z-index: 93;
  width: 1rem;
  height: 1.45rem;
}
.bigBox .box .ladder .yun {
  display: none;
}
.bigBox .box .ladder .z29 {
  left: 0;
  bottom: 0;
  z-index: 92;
  width: 7.2rem;
  height: 5.74rem;
}
.bigBox .box .ladder .z30 {
  left: 3.83rem;
  bottom: 2.725rem;
  z-index: 91;
  width: 1rem;
  height: 3.75rem;
}
.bigBox .box .ladder .z31 {
  left: 1.1rem;
  bottom: 1.88rem;
  z-index: 90;
  width: 2.5rem;
  height: 5.71rem;
}
.bigBox .box .ladder .z32 {
  left: 4.46rem;
  bottom: 6.92rem;
  z-index: 89;
  width: 0.82rem;
  height: 0.73rem;
}
.bigBox .box .ladder .z33 {
  left: 4.35rem;
  bottom: 3.61rem;
  z-index: 88;
  width: 1rem;
  height: 3.46rem;
}
.bigBox .box .ladder .z34 {
  left: 5.58rem;
  bottom: 1.51rem;
  z-index: 87;
  width: 1.5rem;
  height: 6.34rem;
}
.bigBox .box .ladder .z10 {
  left: 3.61rem;
  bottom: 0.16rem;
  z-index: 111;
  width: 1.26rem;
  height: 3.02rem;
}
.bigBox .box .ladder .z11 {
  left: 4.33rem;
  bottom: -0.288rem;
  z-index: 110;
  width: 1.26rem;
  height: 3.45rem;
}
.bigBox .box .ladder .z12 {
  left: 3.1rem;
  bottom: -1.81rem;
  z-index: 109;
  width: 1rem;
  height: 5.27rem;
}
.bigBox .box .ladder .z13 {
  left: 5.07rem;
  bottom: 2.83rem;
  z-index: 108;
  width: 0.76rem;
  height: 0.8rem;
}
.bigBox .box .ladder .z14 {
  left: 6.59rem;
  bottom: -0.45rem;
  z-index: 107;
  width: 1rem;
  height: 3.2rem;
}
.bigBox .box .ladder .z15 {
  left: 5.32rem;
  bottom: 0.175rem;
  z-index: 106;
  width: 1rem;
  height: 3.75rem;
}
.bigBox .box .ladder .z16 {
  left: 6.07rem;
  bottom: 4.26rem;
  z-index: 105;
  width: 0.6rem;
  height: 0.84rem;
}
.bigBox .box .ladder .z17 {
  left: 5.815rem;
  bottom: 0.26rem;
  z-index: 104;
  width: 1.26rem;
  height: 4.21rem;
}
.bigBox .box .ladder .z35 {
  left: 0;
  bottom: 2.99rem;
  z-index: 86;
  width: 7.2rem;
  height: 4.8rem;
}
.bigBox .box .ladder .z36 {
  left: 0;
  bottom: 6.64rem;
  z-index: 85;
  width: 720px;
  height: 131px;
}
.bigBox .box .star_box1,
.bigBox .box .star_box2,
.bigBox .box .star_box3 {
  position: absolute;
  display: none;
}
.bigBox .box .star_box1 img,
.bigBox .box .star_box2 img,
.bigBox .box .star_box3 img {
  width: 0.62rem;
  height: 0.92rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.bigBox .box .star_box1 span,
.bigBox .box .star_box2 span,
.bigBox .box .star_box3 span {
  display: block;
  position: absolute;
  left: 50%;
  top: 1.01rem;
  width: 1.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.1rem;
  border: solid 0.03rem rgba(255, 255, 255, 0.3);
  text-align: center;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 0.24rem;
  line-height: 0.4rem;
}
.bigBox .box .star_box1 {
  width: 2.1rem;
  height: 2.08rem;
  transform: scale(0);
  background: url(../image/star_box1.png) no-repeat center / cover;
  animation: star1 1000ms linear;
  top: 3.86rem;
  left: 2.58rem;
}
.bigBox .box .star_box1 img {
  top: -0.3rem;
}
.bigBox .box .star_box2 {
  width: 1.82rem;
  height: 1.82rem;
  transform-origin: 2.05rem 1.82rem;
  transform: rotate(90deg);
  background: url(../image/star_box2.png) no-repeat center / cover;
  top: 5.05rem;
  right: 0.23rem;
  animation: star1 1000ms linear;
}
.bigBox .box .star_box2 img {
  top: -0.43rem;
}
.bigBox .box .star_box3 {
  width: 1.65rem;
  height: 1.64rem;
  transform-origin: -0.43rem 1.68rem;
  transform: rotate(-90deg);
  background: url(../image/star_box3.png) no-repeat center / cover;
  top: 5.8rem;
  left: 0.43rem;
  animation: star1 1000ms linear;
}
.bigBox .box .star_box3 img {
  top: -0.49rem;
}
@keyframes star1 {
  100% {
    transform: scale(1) rotate(0);
  }
}
.bigBox .box .duckling {
  position: absolute;
  transform: translateX(-50%);
  left: 3.6rem;
  bottom: -1.04rem;
  z-index: 130;
  width: 0.6rem;
  height: 0.84rem;
}
.bigBox .box .duckling img {
  width: 0.6rem;
  height: 0.84rem;
}
.bigBox .box .dot {
  width: 1.18rem;
  height: 1.18rem;
  border-radius: 50%;
  position: absolute;
  z-index: 121;
  left: 1.85rem;
  bottom: 4.3rem;
  transform: translate(-50%, 50%) rotateX(60deg);
  display: none;
}
.bigBox .box .dot .ripple-1,
.bigBox .box .dot .ripple-2,
.bigBox .box .dot .ripple-3 {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
}
.bigBox .box .dot .ripple-1 {
  width: 0.2rem;
  height: 0.2rem;
  border: 0.1rem solid #ffffff;
  transform: translate(-50%, -50%);
  animation: ripple 2000ms infinite;
}
.bigBox .box .dot .ripple-2 {
  width: 0.64rem;
  height: 0.64rem;
  border: 0.06rem solid #ffffff;
  animation: ripple 2000ms 250ms infinite;
}
.bigBox .box .dot .ripple-3 {
  width: 1.1rem;
  height: 1.1rem;
  border: 0.04rem solid #ffffff;
  animation: ripple 2000ms 400ms infinite;
}
@keyframes ripple {
  100% {
    opacity: 0;
  }
}
.bigBox .box .mark {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}
.bigBox .box .active {
  transform: translateY(0);
  animation: move 1.5s linear infinite;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}
.bigBox .box .message {
  padding-top: 0.354rem;
}
.bigBox .box .message .m_top {
  display: none;
  width: 7.2rem;
  height: 4.5rem;
  background-image: url(../image/top.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 7.2rem 4.5rem;
}
.bigBox .box .message .m_top .m_top1 {
  text-align: center;
  overflow: hidden;
}
.bigBox .box .message .m_top .m_top1 p {
  margin-top: 0.946rem;
  margin-bottom: 0.13rem;
  font-size: 0.36rem;
  letter-spacing: 0.45rem;
  padding-left: 0.225rem;
  color: #ffffff;
}
.bigBox .box .message .m_top .m_top1 h2 {
  font-size: 0.68rem;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 0.16rem;
  padding-left: 0.08rem;
}
.bigBox .box .message .upPhone {
  position: relative;
  z-index: 999;
  text-align: center;
  display: none;
}
.bigBox .box .message .upPhone p {
  margin-top: 2.16rem;
  margin-bottom: 0.95rem;
  font-size: 0.41rem;
  letter-spacing: 0.08rem;
  color: #1f8984;
  line-height: 0.68rem;
}
.bigBox .box .message .upPhone .upArrow img {
  width: 0.64rem;
  height: 0.33rem;
  margin: 0 auto;
}
.bigBox .box .div_end {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.bigBox .box .div_end .end_top {
  padding-left: 1.13rem;
}
.bigBox .box .div_end .end_top p {
  margin-top: 0.62rem;
  font-size: 0.24rem;
  line-height: 0.6rem;
  color: #ffffff;
}
.bigBox .box .div_end .end_top p span {
  font-size: 0.51rem;
  font-weight: bold;
}
.bigBox .box .div_end .look {
  position: absolute;
  top: 0.72rem;
  right: 0.6rem;
}
.bigBox .box .div_end .look img {
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  margin-right: 0.2rem;
}
.bigBox .box .div_end .end_bottom {
  position: absolute;
  width: 100%;
  bottom: 0.6rem;
  padding: 0 0.7rem;
  display: flex;
  justify-content: space-between;
}
.bigBox .box .div_end .button {
  display: block;
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border: solid 1px #ffffff;
  font-size: 0.24rem;
  letter-spacing: 0.01rem;
  color: #ffffff;
  box-shadow: 0px 0.02rem 0.04rem 0px rgba(0, 63, 140, 0.3);
  border-radius: 0.25rem;
  text-align: center;
}
